<app-navbar></app-navbar>
<div *ngIf="!isListaVuota()">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
  </div>
    </div>
    <div class="card" style="width: 25rem;">
      <div class="carousel-inner">
  
        <div *ngFor="let movie of moviesTMDB; let i = index">
  
        <div *ngIf="i == x" class="carousel-item-active">
  
          <img src="https://image.tmdb.org/t/p/w300{{movie?.poster_path}}" class="card-img-top" alt={{movie?.title}}>
  
          <div class="container">
            <div class="carousel-caption text-start">
  
            </div>
            </div>
            <h1>{{movie?.original_title}}</h1>
            <div *ngIf="findRating(movie.id)">
              <h3>Valutazione:</h3>
              <div class="stars" [ngSwitch]="rating?.movie_rating">
                <h3 *ngSwitchCase="1"> ★</h3>
                <h3 *ngSwitchCase="2"> ★ ★</h3>
                <h3 *ngSwitchCase="3"> ★ ★ ★</h3>
                <h3 *ngSwitchCase="4"> ★ ★ ★ ★</h3>
                <h3 *ngSwitchCase="5"> ★ ★ ★ ★ ★</h3>
              </div>
            </div>
            
            
            <div *ngIf="findComment(movie.id)">
              <h3 >Commento: </h3>
            <h5 class="rating">{{comment?.comment}}</h5>
            </div>
            
            <button  class="btn btn-primary" (click)="deleteMoviefavour(movie.id)" > Cancella dalla tua lista</button>
          </div>
  
        </div>
  
      </div >
      <button (click)="decrement()" class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button (click)="increment()" class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  
  </div>

  <button (click)="svuotaLista()" type="button">Svuota Lista</button>

</div>


<div *ngIf="isListaVuota()">
  <!--<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top" >Non sono presenti film nella tua lista preferiti!</h1>
  </div>
  <div class="botton-play">
    <a *ngIf="loginService.isUserLoggedIn()" routerLink="/movie-game" class="nav-link"><button class="btn btn-primary">--- GIOCA ---</button></a>
  </div>-->

  <section class="Main-content" data-content-field="main-content" id="yui_3_17_2_1_1652351077091_79">
    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1540834294265" id="page-57a11993b3db2b02a17609d9">
      <div class="row sqs-row" id="yui_3_17_2_1_1652351077091_78">
        <div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1652351077091_77">
          <div class="row sqs-row" id="yui_3_17_2_1_1652351077091_76">
            <div class="col sqs-col-4 span-4" id="yui_3_17_2_1_1652351077091_75">
              <div class="sqs-block image-block sqs-block-image sqs-text-ready" data-block-type="5" id="block-yui_3_17_2_5_1470175355201_9379">
                <div class="sqs-block-content" id="yui_3_17_2_1_1652351077091_74">

                  <div class="image-block-outer-wrapper
                    layout-caption-below
                    design-layout-inline
                    combination-animation-none
                    individual-animation-none
                    individual-text-animation-none
                    sqs-narrow-width" data-test="image-block-inline-outer-wrapper" id="yui_3_17_2_1_1652351077091_73">
                    <figure class="
                      sqs-block-image-figure
                      intrinsic
                      " style="max-width:1500px;" id="yui_3_17_2_1_1652351077091_72">

                      <div class="image-block-wrapper" data-animation-role="image" id="yui_3_17_2_1_1652351077091_71">
                        <div class="sqs-image-shape-container-element
                          has-aspect-ratio
                          " style="
                          position: relative;
                          padding-bottom:135%;    
                          overflow: hidden;
                          " id="yui_3_17_2_1_1652351077091_70">
                          <noscript>
                            <img src="https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1470175715831-NUJOMI6VW13ZNT1MI0VB/image-asset.jpeg" alt="" />
                          </noscript>
                          <img class="thumb-image loaded" data-src="https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1470175715831-NUJOMI6VW13ZNT1MI0VB/image-asset.jpeg" data-image="https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1470175715831-NUJOMI6VW13ZNT1MI0VB/image-asset.jpeg" data-image-dimensions="1500x2025" data-image-focal-point="0.5,0.5" alt="" data-load="false" data-image-id="57a119e3f5e23161e8daf73d" data-type="image" style="left: -0.0892459%; top: 0%; width: 100.178%; height: 100%; position: absolute;" data-image-resolution="500w" src="https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1470175715831-NUJOMI6VW13ZNT1MI0VB/image-asset.jpeg?format=500w">
                        </div>
                      </div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
            <div class="col sqs-col-8 span-8">
              <div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="11.11111111111111" data-block-type="21" id="block-yui_3_17_2_7_1474913903083_6419">
                <div class="sqs-block-content sqs-intrinsic" id="yui_3_17_2_1_1652351077091_99" style="padding-bottom: 11.1111%;">&nbsp;
                </div>
              </div>
              <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-396ef71ce5d4fd132f64">
                <div class="sqs-block-content">
                  <h1 style="text-align: center; white-space: pre-wrap;">Awww...Don’t Cry.</h1>
                  <p style="text-align: center; white-space: pre-wrap;">Lista Film Preferiti Vuota <br><a routerLink="/movie-game">Clicca qui per giocare e aggiungere film alla tua lista.</a><br><br>&nbsp;</p>
                  <p style="white-space: pre-wrap;">&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>